*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* 
===================================
Header
=================================== */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px;
}
.navbar-right {
    flex: 1;
    text-align: right;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.navbar-right a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.navbar-right ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-right ul li:hover::after{
    width: 100%;
}

.banner-home {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-home h1 {
    font-size: 60px;
}

.banner-home p {
    margin: 10px 0 40px;
}
.banner-home a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.banner-home a:hover {
    border:  1px, solid, rgba(255, 255, 0, 0.707);
    background: rgba(255, 255, 0, 0.707);
    transition: 1s;
}

@media(max-width: 700px) {
    .banner-home h1 {
        font-size: 20px;
    }

    .navbar-right ul li {
        display: block;
    }
    .navbar-right{
        position: absolute;
        background: rgba(255, 255, 0, 0.707);;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}