*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* 
===================================
Home Page
=================================== */


 /* ----------HEADER--------------- */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/depok-ui.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header2 {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/depok-ui.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav .bi {
    font-size: 25px;
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px;
}
.navbar-left {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-right {
    flex: 1;
    text-align: right;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.navbar-right a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.navbar-right ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-right ul li:hover::after{
    width: 100%;
}

.banner-home {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-home h1 {
    font-size: 60px;
}

.banner-home p {
    margin: 10px 0 40px;
    
}
.banner-home a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.banner-home a:hover {
    border:  1px, solid, rgba(255, 255, 0, 0.707);
    background: rgba(255, 255, 0, 0.707);
    transition: 1s;
}

@media(max-width: 700px) {
    .banner-home h1 {
        font-size: 20px;
    }

    .navbar-right ul li {
        display: block;
    }
    .navbar-right{
        position: absolute;
        background: rgba(255, 255, 0, 0.907);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    .navbar-right ul {
        padding: 30px;
    }
    .navbar-right ul li a {
        color: black;
    }
    nav .bi{
        display: block;
        color: black;
        margin: 10px;
        cursor: pointer;
    }
    nav .bi-list {
        color: white;
    }
}


 /* ----------Courses Section--------------- */
.courses {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.courses h1 {
    font-size: 36px;
    font-weight: 600;
}
.courses p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.part-courses {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.part-courses h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.part-courses div {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.part-courses div:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .part-courses {
        flex-direction: column;
        gap: 30px;
    }
}


 /* ---------- Campus Section--------------- */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.campus p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover {
    background: rgba(255, 255, 0, 0.6);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
@media(max-width:700px) {
    .row{
        flex-direction: column;
        justify-content: center;
    }
}


 /* ---------- Facilities Section--------------- */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.part-facilities {
    display: flex;
    flex-basis: 31%;
    border-radius: 10px;
    text-align: left;
}
.part-facilities div {
    padding: 45px 20px;
    box-sizing: border-box;
}
.part-facilities img {
    width: 380px;
    height: 350px;
    border-radius: 10px;
}
.part-facilities img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
.part-facilities p {
    color: #777;
}
.part-facilities h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media(max-width:700px){
    .part-facilities {
        flex-direction: column;
    }
    .part-facilities img {
        width: 100%;
    }
}


 /* ---------- Reviews Section--------------- */
.reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.part-reviews {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 5%;
}
.part-reviews div {
    background: #fff3f3;
    text-align: left;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    box-sizing: border-box;
}
.part-reviews h3 {
    margin-top: 15px;
}
.part-reviews p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

@media(max-width:700px){
    .part-reviews {
        flex-direction: column;
    }
}







/* 
===================================
About Page
=================================== */





















/* 
===================================
Faculty Page
=================================== */









/* 
===================================
Contact Page
=================================== */
.location{
    width: 80%;
    padding: 30px 0;
    margin: auto;
    margin-bottom: 100px;
}
.location iframe {
    width: 100%;
}

.contact {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.row-contact {
    margin-bottom: 40px;
}
.row-contact div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.row-contact div .bi {
    font-size: 30px;
    margin-right: 20px;
    color: rgb(233, 233, 34);
}

.form-contact {
    width: 50%;
}
.form-contact input, .form-contact textarea{
    width: 100%;
    padding: 15px;
    outline: none;
    margin-bottom: 18px;
    border: 1px solid #ccc;
}
.form-contact .btnSubmit {
    display: inline-block;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
}
.form-contact .btnSubmit:hover {
    border:  1px, solid, rgba(255, 255, 0, 0.707);
    background: rgba(255, 255, 0, 0.707);
    transition: 1s;
}












/* 
===================================
FOOTER
===================================  */
footer {
    color: white;
    background-color: black;
}
.footer {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
}
.footer img{
    width: 220px;
    height: 280px;
}
.footer h2 {
    margin-bottom: 20px;
}
/* .footer h1, .footer h2 {
    font-family: THICCCBOI BOLD;
}
.footer ul li , .footer p{
    font-family: THICCCBOI REGULAR;
} */
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}
.footer-help, .footer-info {
    line-height: 40px;
}
.footer-location {
    line-height: 30px;
}

.copyright {
    height: 30px;
    color: #838383;
    background: #202020;
    text-align: center;
    padding: 10px;
}

@media (max-width : 800px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer img {
        margin: auto;
    }
    .footer h2 {
        margin-top: 40px;
    }
}